<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    style
        include ../css/style.css
</head>
<body>
    <div class="container">
        <h1>This is a landing page</h1>
        <a href="/login" class="btn">login</a>
        <a href="/register" class="btn">Register</a>
        img(src="static/img/s.jpg", alt="" width="100px" height="100px")
        img(src="static/img/s.jpg", alt="" width="100px" height="100px")
    </div>

</body>
</html>